Service References/Rest_ServiceReference/Rest_Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Rest_Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/RestService_Wcf/Rest_Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/RestService_Wcf/Rest_Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/RestService_Wcf/Rest_Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RestService_Wcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRest_Service1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IRest_Service1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IRest_Service1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IRest_Service1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IRest_Service1_GetGroupData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupData" />
  </wsdl:message>
  <wsdl:message name="IRest_Service1_GetGroupData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupDataResponse" />
  </wsdl:message>
  <wsdl:message name="IRest_Service1_InsertAccessFileName_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAccessFileName" />
  </wsdl:message>
  <wsdl:message name="IRest_Service1_InsertAccessFileName_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAccessFileNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IRest_Service1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRest_Service1/GetData" message="tns:IRest_Service1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRest_Service1/GetDataResponse" message="tns:IRest_Service1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IRest_Service1/GetDataUsingDataContract" message="tns:IRest_Service1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRest_Service1/GetDataUsingDataContractResponse" message="tns:IRest_Service1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRest_Service1/GetGroupData" message="tns:IRest_Service1_GetGroupData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRest_Service1/GetGroupDataResponse" message="tns:IRest_Service1_GetGroupData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAccessFileName">
      <wsdl:input wsaw:Action="http://tempuri.org/IRest_Service1/InsertAccessFileName" message="tns:IRest_Service1_InsertAccessFileName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRest_Service1/InsertAccessFileNameResponse" message="tns:IRest_Service1_InsertAccessFileName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRest_Service1" type="tns:IRest_Service1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IRest_Service1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IRest_Service1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupData">
      <soap:operation soapAction="http://tempuri.org/IRest_Service1/GetGroupData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAccessFileName">
      <soap:operation soapAction="http://tempuri.org/IRest_Service1/InsertAccessFileName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Rest_Service1">
    <wsdl:port name="BasicHttpBinding_IRest_Service1" binding="tns:BasicHttpBinding_IRest_Service1">
      <soap:address location="http://localhost/RestService_Wcf/Rest_Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>