Service References/Rest_ServiceReference/Rest_Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RestService_Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RestService_Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="groupdt">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessFnm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrpId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VerNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="groupdt" nillable="true" type="tns:groupdt" />
  <xs:complexType name="AccessFileNames">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VersionNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessFileNames" nillable="true" type="tns:AccessFileNames" />
</xs:schema>